/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Bebas Neue", "Montserrat", serif;
    font-size: 1.25em;
    --black:#0D0D0D;
    --orange: #EB5428;
    --white: #F2F2F2;
    --cyan: #7ABFBF;
    --lightblue: rgba(122, 191, 191, .5);
}
/*Bebas Neue- Regular 400
H1- 40px
H2- 30px
H3- 25px
NAV A- 20PX 
NAV SPAN- 20PX
MENU LI- 20PX
#SOCIAL LI- 20PX
FOOTER- 20PX

Montserrat- Regular 400
P- 16PX
DD- 16PX
LI- 16PX
NAV- 16PX INPUT- 16PX

Montserrat- Bold 700
DT- 16PX*/

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (min-width:414px){
    body{
        width:100%;
        /*display: grid;
        grid-template-columns: 1fr;*/
    }
    h1{
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: 40px;
        padding-top: 200px;
        text-align: center;
    }
    h2{
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: 30px;
    }
    h3{
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: 25px;
    }
    nav a {
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
    }
    nav span{
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: 20px;
    }
    menu li{
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        display: inline-block;
        padding-top: 25px;
    }
    header img{
        width: 100%;
        padding-top: 15px;
    }
    header p{
        text-align: left;
        padding: 10px;
    }
    #social li{
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: 20px;
    }
    footer{
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: 20px;
    }
    p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
    }
    dd {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
    }
    li {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
    }
    nav {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
    }
    input {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
    }
    dt {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 16px;
    }
    nav {
        grid-area: nav;
        min-width: 414px;
        background-color: #ffffff;
        box-shadow: 0px 3px 3px #bbb;
        position: fixed;
        top: 0;
        z-index:5;
    }
    nav ul {
        grid-area: hamberger;
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0;
    }
    nav li img {
        display: none;
    }
    nav li a {
        display: block;
        padding: 20px;
        text-decoration: none;
    }
    nav label {
        cursor: pointer;
        display: inline-block;
        user-select: none;
        position: relative;
        bottom: 5px;
        left: 30px;
        top: 5px;
        padding-bottom: 10px;
    }
    nav span {
        display: block;
        position: relative;
     }
    nav label svg {
        display: block;
    }
    label span:before, label span:after {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    nav input {
        display: none;
    }
    nav input:checked ~ ul {
        max-height: 550px;
    }
    nav h2 {
        visibility: hidden;
        height: 1px;
        width: 1px;
    }
    menu{
        list-style-type: none;
        display: inline;
        color: #EB5428;

    }
    menu svg{
        position: relative;
        bottom: 15px;
        left: 35px;
    }
    menu a{
        color: #EB5428;
        text-decoration: none;
    }
    .searchbar{
        display: flex;
        position: relative;
        top: -3150px;
        z-index: 0;
    }
    .searchbar button{
        color:#F2F2F2;
        border: #EB5428 5px solid;
    }
    .searchbar h3{
        visibility: hidden;
        line-height: 0%;
    }
    .searchbar input{
        width: 250px;
        height: 60px;
        border: #EB5428 5px solid;
    }
    .searchbar svg{
        color: #bbb;
    }
    .details h2{
        text-align: center;
        padding: 10px;
    }
    .details dt{
        float: left;
        clear: left;
        padding: 5px;
        margin-left: 5px;
    }
    .details dd{
        padding: 5px;
    }
    .ingredients h2{
        text-align: center;
        padding: 10px;
    }
    .ingredients li{
        text-align: left;
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .ingredients{
        list-style-type: circle;
    }
    .directions h2{
        text-align: center;
        padding: 10px;
    }
    .directions li{
        text-align: left;
        padding: 10px;
    }
    aside{
        background-color:#7ABFBF;;
    }
    aside h2{
        text-align: center;
        padding: 10px;
    }
    .sidedishes img{
        float: left;
        padding: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        height: 125px;
    }
    .sidedishes a{
        padding-left: 1px;
        text-decoration: none;
        color: #0D0D0D;
    }
    .sidedishes h4{
        visibility: hidden;
        height: 10px;
    }
    .sidedishes p{
        padding-top: 10px;
    }
    }
    /*#sign-in{
        display: flex;
        position: relative;
        top: 0px;
    }*/

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:768px){

}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 1280px){

}
/*<button type="submit"><i class="fa fa-search"></i>></button>*/
